.attractieDetail
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.image
{
    width: auto;
    height: 100%;
    min-width: 400px;
    min-height: 400px;
    max-width: 500px;
    max-height: 500px;
    border: 2px solid #000;
}

.info
{
    width: 80%;
    height: auto;
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 15px 0 0 0;
}