@media (max-width: 852px) {
    .attractieContainer
    {
        display: flex;
        width: 85%;
        height: fit-content;
        flex-direction: column;
        align-items: center;
    }
}

@media (min-width: 853px) {
    .attractieContainer
    {
        display: flex;
        width: 85%;
        height: fit-content;
        flex-wrap: wrap;
        justify-content: space-between;
    }
}
.subContainer
{
    margin: 15px 0;
    border: 3px black solid;
    width: 301px;
    height: 500px;
    border-collapse: collapse;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.subContainer h2
{
    border-bottom: 2px solid black;
}
.image
{
    width: 295px;
    height: 295px;
}

.formContainer{
    margin: 0 auto;
    height: fit-content;
    width: fit-content;
    padding-bottom: 75px;
}