.CrudCont{
    width: 40%;
}
.CrudObject
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin: 0;
    
}
.CrudObject p{
    text-align: left;
    margin: 0;

}
.CrudOptions{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 30%;
    margin: 0;
}